[Desktop Entry]
Name=Face Unlock
Comment=Gerenciar Autenticação Facial
Exec=/home/marcos/Projects/FaceUnlock/venv/bin/python /home/marcos/Projects/FaceUnlock/gui.py
Icon=face-id
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
